.textContainer {
  font-size: clamp(1rem, 1.5vw, 1.25rem); /* ビューポートに応じてサイズ調整 */
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  color: #fff;
  margin: 0 auto;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  margin: 0rem;
}

.description {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.75;
  font-family: sFont;
}

header {
  font-size: clamp(7rem, 10vw, 14rem);
}

.headerA {
  font-size: clamp(6rem, 7vw, 8rem);
}

.productContainer {
  padding: 30px 0px;
  display: flex;
  height: 150vh;
  align-items: flex-start;
  width: 100%;
}

.videoWrapper {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}

.leftContainer {
  position: sticky;
  top: 10%;
  height: fit-content;
  text-align: left;
  margin-left: 10%;
}

.rightContainer {
  display: flex;
  flex-direction: column;     /* 子要素を縦並びにする */
  align-items: flex-end;      /* 子要素を右寄せにする */
  position: sticky;
  top: 10%;
  height: fit-content;
  margin-right: 10%;
}


.rightContainer img {
  width: 60%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.rightContainer video {
  width: 50%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 10px;
}

.centerContainer {
  display: flex;
  text-align: center;
  flex-direction: column;     /* 子要素を縦並びにする */
  position: sticky;
  top: 20%;
}


@media screen and (max-width: 768px) {
  .productContainer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .leftContainer,
  .rightContainer {
    position: static; /* stickyだとスマホでは不自然 */
    width: 90%;
    margin: 2rem auto;
    animation: none; /* スクロールアニメーションを無効に */
  }

  .rightContainer {
    align-items: center; /* 中央寄せ */
  }

  .videoWrapper {
    width: 100%;
    max-width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  header {
    font-size: clamp(2.5rem, 8vw, 6rem);
  }
  .headerA {
    font-size: clamp(2.5rem, 8vw, 6rem);
  }

  h2 {
    text-align: center;
    margin: 0rem;
  }

  .description {
    text-align: center;
  }
}
